body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

  .mat-app-background {
    width: 100%;
  }

  .mat-elevation-z2 {
    box-shadow: none !important;
  }

  .content {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
}

html,
body {
  height: 100%;
}
